<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<form method="post">
    PassWork
    <input type="password" id="password" class="password" name="user_password" >
    <script>
        $(document).ready(function(){
        $('input[type="password"]').after(' <input type="checkbox" class="check" /> Hiển thị mật khẩu');
        $('.check').change(function(){
            var prev = $(this).prev();
            var value = prev.val();
            var type = prev.attr('type');
            var name = prev.attr('name');
            var id = prev.attr('id');
            var klass = prev.attr('class');
            var new_type = (type == 'password') ? 'text' : 'password';
            prev.remove();
            $(this).before('<input type="'+new_type+'" value="' +value+ '" name="' +name+ '" value="' +value+ '"id="' +id+ '" class="' +klass+ '" />');

    });
})
</script>
{#    <script>#}
{#        function myFunction() {#}
{#            var checkbox = document.getElementById("mycheckbox");#}
{#            var passwork = document.getElementById("mypasswork");#}
{#            if (checkbox.checked = true){#}
{#                passwork.type = "text"#}
{#            }#}
{#            else{#}
{#                passwork.type = "passwork"#}
{#            }#}
{#        }#}
{##}
{#    </script>#}
</form>
</body>
</html>